{% extends 'base.html.twig' %}

{% block title %}EditPosteController{% endblock %}

{% block body %}
<br/><br/><br/><br/><br/>

    <h1>Editer Poste</h1>

    {{form_start(form)}}

    {{include('layouts/_posteForm.html.twig')}}

    <button class="btn btn-outline-primary">Editer poste</button>

    {{form_end(form)}}
 
{% endblock %}
