{% extends 'base.html.twig' %}

{% block title %}Modifier{% endblock %}

{% block body %}
<br/><br/><br/><br/><br/>

    <h1>Modifier Poste</h1>

    {{form_start(form)}}

    {{include('layouts/_posteForm.html.twig')}}

    <button class="btn btn-outline-primary">Modifier poste</button>

    {{form_end(form)}}
    <br/><br/><br/><br/><br/>

{% endblock %}
