{% extends 'admin_base.html.twig' %}

{% block title %}Nouveau TypeTrajett{% endblock %}

{% block body %}
<br/><br/><br/><br/><br/>

    <h1>Créer un nouveau TypeTrajet</h1>

    {{ include('type_trajet/_form.html.twig') }}

    <a href="{{ path('app_type_trajet_index') }}">Retour à la liste</a>
    
{% endblock %}
