{% extends 'base.html.twig' %}

{% block title %}Add Poste{% endblock %}

{% block body %}
    <h1>Publier Poste</h1>

    {{form_start(form)}}

    {{include('layouts/_posteForm.html.twig')}}

    <button class="btn btn-outline-primary">Ajouter poste</button>

    {{form_end(form)}}
{% endblock %}
