{% extends 'base.html.twig' %}

{% block title %}TestController{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('assets/css/app.css')}}">
{% endblock %}


{% block body %}
<br/><br/><br/><br/><br/>

    <h1>Hello from {{ controller_name }}!</h1>
    <button type="button" class="btn btn-outline-primary">Primary</button>
    {% if bool %}
     {% for i in tabs %}
      <li>{{i}}</li>
     {% endfor %}
    {% endif %}

{% endblock %}
