{% extends 'trajet/index.html.twig' %}

{% block title %}Liste des personnes{% endblock %}

{% block body %}
<div class="row">
    {% for trajet in trajet %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ trajet.depart }}</h5>
            
            
            <a href="{{ path('app_trajet', {id: trajet.id}) }}" class="card-link">
                <i class="fas fa-info-circle"></i>
            </a>
          
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

